
@font-face {
  font-family: 'Montserrat Regular';
  src: url('/assets/fonts/Montserrat-Regular.ttf') format('font-truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Medium';
  src: url('/assets/fonts/Montserrat-Medium.ttf') format('font-truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('/assets/fonts/Montserrat-Bold.ttf') format('font-truetype');
  font-weight: bold;
  font-style: normal;
}
